@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Epilogue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.fondo{
    color: #141228;
}

.azulCrema{
    color: #94B6D2;
}

.azulOscuro{
    color: #141228;
}